/*Added a little extra style attributes and moved it all to the CSS document*/
body{
    background-color: #f9f9f9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}
h1{
    color: #4285f4; 
    text-align: left;
}
h2{ 
    color: #404040;
    text-align: left;
}
h3{ 
    color: #404040;
    text-align: left;
}
body{
    color: #676c72;
    text-align: left;
}
a{
    color: #4285f4;
    font-weight: bold;
}
button{
    margin-top: 10px;
}
.light{
    color: #676c72;
    text-align: left;
}
#Join{
    color:  #e84435;
    text-align: left;
}